DATABASE_URL="postgresql://postgres.quhgjrpqjqaoalkthufu:AQ38.h%2Cp%3FsrA%24*G@aws-1-ap-southeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true&connection_limit=1&sslmode=require"
# DATABASE_URL="postgresql://postgres.quhgjrpqjqaoalkthufu:AQ38.h,p?srA$*G@aws-1-ap-southeast-1.pooler.supabase.com:6543/postgres"
BOT_TOKEN="8759832545:AAFwoCn9R7gcKwo5V-KfGH1zu6KljO1bBUk"
JWT_SECRET="turon_secret_123"
WEB_APP_URL="https://turon-miniapp.vercel.app"
NODE_ENV="production"
PORT=3000
CORS_ORIGIN="https://turon-miniapp.vercel.app"
VITE_API_URL="https://turon-production-7a82.up.railway.app/"
VITE_MAPS_PROVIDER="yandex"
VITE_MAP_API_KEY="c3e2b675-cbbf-4886-b77a-3ed4e0d4f3f8"
VITE_MAP_LANGUAGE="uz_UZ"

ADMIN_CHAT_ID="8090477679"
ADMIN_IDS=8090477679,5329369703
YANDEX_MAP_API_KEY="c3e2b675-cbbf-4886-b77a-3ed4e0d4f3f8"
YANDEX_GEOCODER_API_KEY="c3e2b675-cbbf-4886-b77a-3ed4e0d4f3f8"
YANDEX_ROUTER_API_KEY="2fcd4f59-7143-4b0c-9829-1cf89163d5d0"
YANDEX_DISTANCE_MATRIX_API_KEY="2fcd4f59-7143-4b0c-9829-1cf89163d5d0"
YANDEX_GEOSUGGEST_API_KEY="586c5fcd-d51f-4855-99dd-d52eefb951e5"
