DATABASE_URL="postgresql://postgres:hdnGrgnXWymuMsBggChjcvMygrOVUxaj@yamabiko.proxy.rlwy.net:13664/railway"
BOT_TOKEN="8759832545:AAFwoCn9R7gcKwo5V-KfGH1zu6KljO1bBUk"
JWT_SECRET="turon_secret_123"
WEB_APP_URL="https://turon-miniapp.vercel.app/"
NODE_ENV="production"
PORT=3000
CORS_ORIGIN="https://turon-miniapp.vercel.app/"
VITE_API_URL="turon-production-7a82.up.railway.app"
VITE_MAPS_PROVIDER="yandex"
VITE_MAP_API_KEY="c3e2b675-cbbf-4886-b77a-3ed4e0d4f3f8"
VITE_MAP_LANGUAGE="uz_UZ"