.DS_Store
/ai-agent-engineer
/api-tester
/backend-architect
/database-optimizer
/devops-automator
/frontend-developer
/n8n-automation-engineer
/orchestrator
/performance-tester
/security-engineer
/security-tester
/software-architect
/test-orchestrator
/ui-tester
/ui-ux-designer
