BOT_TOKEN=8759832545:AAFwoCn9R7gcKwo5V-KfGH1zu6KljO1bBUk
DATABASE_URL="postgresql://postgres:IweuxWBvyrmBmcdlDToaeNbVGnqdKFJF@gondola.proxy.rlwy.net:46208/railway"
REDIS_URL=disabled
NODE_ENV=development
PORT=3000
DEFAULT_LANGUAGE=uz